<<<<<<< HEAD
This is a a new login.css
=======
llagura@Santoshas-MacBook-Pro.local>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly. Run the
following command and follow the instructions in your editor to edit
your configuration file:

    git config --global --edit

After doing this, you may fix the identity used for this commit with:

    git commit --amend --reset-author

 2 files changed, 2 insertions(+)
Mac:~/Desktop/gittest santoshapullagura$ git push -u login-files
fatal: 'login-files' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
Mac:~/Desktop/gittest santoshapullagura$ git branch
* login-files
  master
Mac:~/Desktop/gittest santoshapullagura$ 

>>>>>>> login-files
